{% extends 'base.html' %}
{% load static %}

{% block body %}
    <h1 class="text-center">NEW</h1>
    <hr>
    <form action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <!-- <label for="title">Title</label><br>
        <input type="text" name="title" id="title"><br>
        <label for="content">Content</label><br>
        <textarea name="content" id="content" cols="30" rows="10"></textarea><br>
        <label for="image">image</label><br>
        <input type="file" name="image" id="image" accept="image/*"><br> -->
        <input type="submit" value="글쓰기">
    </form>
    <a href="{% url 'articles:index' %}">[메인페이지로]</a> 
{% endblock %}