{% extends 'base.html' %}

{% block body %}
    <h1 class="text-center">DETAIL</h1>
    <hr>
    <h2>{{ article.pk }}번글</h2> <!--.id와 .pk는 똑같음-->
    <p>글 제목: {{ article.title }}</p>
    <p>글 내용: {{ article.content }}</p>
    <p>글 작성 시각: {{ article.created_at|date:"SHORT_DATE_FORMAT" }}</p>
    <p>글 수정 시각: {{ article.updated_at|date:"M, j, Y" }}</p>
    <hr>
    <form action="{% url 'articles:delete' article.pk %}" method="POST">
        {% csrf_token %}
        <input type="submit" value="글 삭제">
    </form>
    <a href="{% url 'articles:update' article.pk %}">[글 수정]</a><br>
    <a href="{% url 'articles:index' %}">[메인 페이지로 가기]</a>
    <hr>
    <form action="{% url 'articles:comments_create' article.pk %}" method="POST">
        {% csrf_token %}
        <label for="content">COMMENT</label><br>
        <input type="text" name="content" id="content"><br>
        <input type="submit" value="댓글 작성" class="btn btn-warning">
    </form>
    <hr>
    <p><b>댓글 목록</b></p>
    {% for comment in comments %}
        <li>{{ comment.content }}</li>
        <form action="{% url 'articles:comments_delete' article.pk comment.pk %}" method="POST">
            {% csrf_token %}
            <input type="submit" value="댓글 삭제" class="btn btn-danger">
        </form>
    {% endfor %}
    <hr>

{% endblock %}