{% extends 'base.html' %}
{% load static %}

{% block body %}
    <h1 class="text-center">EDIT</h1>
    <hr>
    {% if article.image %}
        <img src="{{ article.image.url }}" alt="{{ article.image }}">
    {% else %}
        <img src="{% static 'articles/images/noimage.gif' %}" alt="noimage">
    {% endif %}
    <form action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <label for="title">Title</label><br>
        <input type="text" name="title" id="title" value="{{ article.title }}"><br>
        <label for="content">Content</label><br>    
        <textarea name="content" id="content" cols="30" rows="10">{{ article.content }}</textarea><br> <!--textarea는 value속성에 안적음-->
        <label for="image">Image</label>
        <input type="file" name="image" id="image" accept="image/*">
        <input type="submit" value="글수정">
    </form>
    <a href="{% url 'articles:index' %}">[메인페이지로]</a>
{% endblock %}